<nav>
  <a routerLink="/home" routerLinkActive="active" class="btn btn-link">home</a>
  <a routerLink="/formTemplate" routerLinkActive="active" class="btn btn-link"
    >formulaire template</a
  >
  <a routerLink="/formCode" routerLinkActive="active" class="btn btn-link"
    >formulaire code</a
  >
  <a
    *ngIf="!logged"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <a
    *ngIf="logged"
    routerLink="/produits"
    routerLinkActive="active"
    class="btn btn-link"
    >produits</a
  >
  <a
    *ngIf="logged"
    routerLink="/clients"
    routerLinkActive="active"
    class="btn btn-link"
    >clients</a
  >
  <a [routerLink]="['/panier']" routerLinkActive="active" class="btn btn-link"
    >commander</a
  >
  <button *ngIf="logged" (click)="logout()" class="btn btn-link">logout</button>
</nav>
<router-outlet></router-outlet>
