<nav>
  <a
    [routerLink]="[
      { outlets: { primary: ['home'], autreOutlet: ['couleur'] } }
    ]"
    routerLinkActive="active"
    >home</a
  >
  <a
    [routerLink]="[
       { outlets: { primary: ['produits'], autreOutlet: ['couleur'] }}
    ]"
    routerLinkActive="active"
    >home</a
  >
  <a [routerLink]="['/produits']" routerLinkActive="active">produits</a>
  <a [routerLink]="['/params']" routerLinkActive="active">params</a>
  <a
    [routerLink]="['/params']"
    routerLinkActive="active"
    [queryParams]="{ prenom: 'olivier', nom: 'gozlan' }"
    >params avec parametre dans url</a
  >
  <a
    [routerLink]="['/params', 'prenom', 'bob', 'nom', 'marley']"
    routerLinkActive="active"
    >params avec pathvariable</a
  >
</nav>
<router-outlet></router-outlet>
<router-outlet name="autreOutlet"></router-outlet>
