<div>
  <div class="form-group">
    <label>id</label>
    <input [(ngModel)]="produit.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom</label>
    <input [(ngModel)]="produit.nom" class="form-control" />
  </div>
  <div class="form-group">
    <label>description</label>
    <textarea [(ngModel)]="produit.description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>prix</label>
    <input type="number" [(ngModel)]="produit.prix" class="form-control" />
  </div>
  <div class="form-group">
    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
    <a
      [routerLink]="['/produits']"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>
